!!!
%html
  %head
    %title AwesomeAnswers
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.Three-Dee{href: "#"} AWESOME ANSWERS
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Questions", questions_path
            %li= link_to "Add a new Question", new_question_path
            %li= link_to "Edit Question", edit_question_path(1)
            %li= link_to "Delete Questions", question_path(1), method: :delete
    .container
      - if flash[:notice] || flash[:error]
        .alert.alert-success
          = flash[:notice]
      = yield